<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
    <link href="~/css/teacher/TeacherCreateSchool.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="titleBackground"></div>
<div class="title">è¯¾ç¨‹ç®¡ç†ç³»ç»Ÿ</div>
<div class="icon">
    <img src="~/Img/home.png">é¦–é¡µ
    <img src="~/Img/help.png">å¸®åŠ©
    <img src="~/Img/exit.png">é€€å‡?
</div>
<div class="province">
    æ‰€åœ¨çœä»?<select class="provinceSelect" id="province"></select>
</div>
<div class="city">
    æ‰€åœ¨åŸå¸?<select class="citySelect" id="city"></select>
</div>
<div class="school">
    å­¦æ ¡åç§°:<input type="text" name="school" id="name"/>
</div>
<div class="submit">æäº¤</div>
<script src="~/js/query.js"></script>
<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $(".submit").click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/school',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    province: $("#province").val(),
                    city: $("#city").val(),
                    name: $("#name").val()
                }),
                success: function(result) {
                    window.location.href = "/RegisterPage?school=" + result.id;
                }
            });
        });
    });
</script>
</body>
</html>