<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查看讨论课（随机）</title>
    <link href="~/css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img src="~/Img/home.png">首页
        <img src="~/Img/help.png">帮助
        <img src="~/Img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName">OOAD</div>
        <div class="line"></div>
        <div class="courseIntroduction">ooad is xxx</div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">讨论课1</div>
            <div class="returnButton">返回上一页</div>
            <div class="line"></div>
            <div class="itemBody" id="insertinfo">
                
                
                <div class="item"></div>
                <div class="item">
                    <label class="itemName">选择话题：</label>
                    <label class="itemName">A</label><br/>
                    <label class="itemName">组号：</label>
                    <label class="itemName">1-A-1</label><br/>
                    <label class="itemName">组长：</label>
                    <label class="itemName">XXX</label><br/>
                    <label class="itemName">组员：</label>
                    <label class="itemName">XXX</label>
                    <label class="itemName">XXX</label>
                    <label class="itemName">XXX</label>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">话题</div>
            <div class="line"></div>
            <div class="blockBody" id="inserttopic">
            </div>
            <div class="item">
                <button class="uploadbutton">上传报告</button>
            </div>
            <div class="item">
                <button class="viewscorebutton">查看分数</button>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/query.js"></script>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var id = getQuery()["id"];
    $(function () {
        $.ajax({
            url: '/seminar/' + id +'/random',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $("#insertinfo").prepend(
                    "<div class=\"item\">" +
                    "<label class=\"itemName\">" +
                    result.description +
                    "</label>" +
                    "<div class=\"line\"></div></div>" +
                    "<div class=\"item\">" +
                    "<label class=\"itemName\">分组方式：</label>" +
                    "<label class=\"itemName\">随机分组</label><br/>" +
                    "<label class=\"itemName\">开始时间：</label>" +
                    "<label class=\"itemName\">" +
                    result.startTime +
                    "</label><br/>" +
                    "<label class=\"itemName\">结束时间：</label>" +
                    "<label class=\"itemName\">" +
                    result.endTime +
                    "</label></div>" +
                    "<div class=\"item\">" +
                    "<div class=\"item\"></div>" +
                    "<div class=\"line\"></div></div>"
                );
                for (var i = result.topics.length; i--;) {
                    $("#inserttopic").prepend(
                        "<div class=\"smallblock\">" +
                        "<div class=\"blockFont\">" + result.topics[i].name + "</div>" +
                        "</div>"
                    );
                }
                
            }
        });
    });
   
</script>
</body>
</html>