<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生基本信息改</title>
    <link href="~/css/common/InfoModifyPage.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img id="skiphome" src="~/img/home.png">首页
        <img id="skiphelp" src="~/img/help.png">帮助
        <img id="skipexit" src="~/img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="title">导航</div>
        <div class="line"></div>
        <div class="courseIntroduction">
            <a class="guidefont" href="#">基本信息</a>
            <a class="guidefont" href="~/Student/Course">课程信息</a>
            <a class="guidefont" href="~/Student/Choosecourse">新建课程</a>
        </div>
    </div>
    <div class="content">

        <div class="title">基本信息</div>
        <hr class="line"/>
        <div id="insertinfo" class="imgarea">
            <img class="img" src="~/img/link.jpg"/>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/me',
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                $("#insertinfo").after(
                    "<div class=\"info\">" +
                    "<table class=\"table\">" +
                    "\<tr class=\"itemName\">" +
                    "<td>用户名：<span>" +
                    result.phone +
                    "</span ></td >" +
                    "<td>学号：<input type=\"text\" name=\"name\" value=" +
                    result.number +
                    "></td >" +
                    "</tr><tr class=\"itemName\"><td>姓名：<input type=\"text\" name=\"name\" value=" +
                    result.name +
                    "></td>" +
                    "<td>性别：<input type=\"text\" name=\"name\" value=" +
                    result.gender +
                    "></td >" +
                    "</tr ><tr class=\"itemName\"><td>学校：<input type=\"text\" name=\"name\" value=" +
                    result.school.name +
                    "></td>" +
                    "<td>学历：<input type=\"text\" name=\"name\" value=" +
                    result.title +
                    "></td>" +
                    "</tr ><tr class=\"itemName\"><td>E-mail：<input type=\"text\" name=\"name\" value=" +
                    result.email +
                    "></td >" +
                    "<td>联系方式：<input type=\"text\" name=\"name\" value=" +
                    result.phone +
                    "></td >" +
                    "</tr ></table>" +
                    "<br/><br/><br/><br/><div id=\"submitinfo\" class=\"button\"><button>提交</button></div></div>");
                $("#submitinfo").click(function() {
                    window.location.href = "/Student/";
                });
            }
        });
    });
    $("#skiphome").click(function() {
        window.location.href = "/Student";
    });
    $("#skiphelp").click(function() {
        alert("需要帮助吗？");
    });
    $("#skipexit").click(function() {
        window.location.href = "/Login";
    });
</script>
</body>
</html>