<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link href="~/css/student/StudentCourseHomePage.css" rel="stylesheet" type="text/css"/>

</head>
<body>

<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img id="skiphome" src="~/img/home.png">首页
        <img id="skiphelp" src="~/img/help.png">帮助
        <img id="skipexit" src="~/img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="title">导航</div>
        <div class="line"></div>
        <div class="courseIntroduction">
            <a class="guidefont" href="~/Student">基本信息</a>
            <a class="guidefont" href="~/Student/Course">课程信息</a>
            <a class="guidefont" href="~/Student/Choosecourse">选择课程</a>
        </div>
    </div>
    <div class="content">
        <div class="title">课程信息</div>
        <hr class="line" id="courses"/>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/class',
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                for (var i = result.length; i--;) {
                    $("#courses").after(
                        "<div class=\"main_box_right_content courseinfo\" data-course-id=" +
                        i +
                        "><h3 class=\"classtitle\" data-course-id=" +
                        i +
                        ">" +
                        result[i].courseName +
                        "<button id=" +
                        i +
                        ">退选课程</button></h3><div class=\"divideline\"></div><div  class=\"classinfo\"><table class=\"table\"><tr><td>班级：<span>" +
                        result[i].name +
                        "</span></td>  <td>课程地点：" +
                        result[i].site +
                        "</td></tr><tr><td>教师：" +
                        result[i].teacher +
                        "</td><td></td></tr></table></div></div>");
                    $("#" + i).click(function() {
                        alert("退选课程成功");
                        window.location.reload();
                    });
                }

                $(".courseinfo").click(function() {
                    window.location.href = "/Student/Course/Courseinfo?id=" + $(this).attr("data-course-id");
                });
            }
        });
    });
    $("#skiphome").click(function() {
        window.location.href = "/Student";
    });
    $("#skiphelp").click(function() {
        alert("需要帮助吗？");
    });
    $("#skipexit").click(function() {
        window.location.href = "/Login";
    });
</script>
</body>
</html>