<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看话题（固定分组）</title>
   <link href="~/css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img src="~/Img/home.png">首页
        <img src="~/Img/help.png">帮助
        <img src="~/Img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName">OOAD</div>
        <div class="line"></div>
        <div class="courseIntroduction">ooad is xxx</div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">话题A</div>
            <div class="returnButton">返回上一页</div>
            <div class="line" id="insertinfo"></div>
            
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/query.js"></script>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var id = getQuery()["id"];
    $(function () {
        $.ajax({
            url: '/Topic/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $("#insertinfo").after(
                    "<div class=\"itemBody\"><div class=\"item\">" +
                    "<label class=\"itemName\">题目:</label>" +
                    "<label class=\"itemName\">"+result.name+"</label>" +
                    "</div><div class=\"item\">" +
                    "<label class=\"itemName\">说明:</label>" +
                    "<label class=\"itemName\">"+result.description+"</label>" +
                    "</div><div class=\"item\">" +
                    "<label class=\"itemName\">组数限制:</label>" +
                    "<label class=\"itemName\">" + result.groupLimit+"</label>" +
                    "</div><div class=\"item\">" +
                    "<label class=\"itemName\">组内人数上限:</label>" +
                    "<label class=\"itemName\">"+result.groupMemberLimit+"</label>" +
                    "</div><div class=\"item\">" +
                    "<div class=\"modifyButton\">选择话题</div></div></div>"
                );
            }
        });
    });
   
</script>
</body>
</html>