<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查看讨论课（固定）</title>
    <link href="~/css/student/content.css" rel="stylesheet" type="text/css"/>>
</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img src="~/Img/home.png">首页
        <img src="~/Img/help.png">帮助
        <img src="~/Img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName">OOAD</div>
        <div class="line"></div>
        <div class="courseIntroduction">ooad is xxx</div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">讨论课1</div>
            <div class="returnButton">返回上一页</div>
            <div class="line"></div>
            <div class="itemBody" id="insertinfo">
               
            </div>
        </div>
        <div class="block">
            <div class="title">话题</div>
            <div class="line"></div>
            <div class="blockBody" id="inserttopic">
                
            </div>
            <div class="item">
                <button class="uploadbutton" id="uploadReport">上传报告</button>
            </div>
            <div class="item">
                <button class="viewscorebutton" id="checkGrade">查看分数</button>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/query.js"></script>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var id = getQuery()["id"];
    $(function () {
        $.ajax({
            url: '/seminar/' + id +'/fixed',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                $("#insertinfo").prepend(
                    "<div class=\"item\">" +
                    "<label class=\"itemName\">" +
                    result.description +
                    "</label>" +
                    "<div class=\"line\"></div></div>" +
                    "<div class=\"item\">" +
                    "<label class=\"itemName\">分组方式：</label>" +
                    "<label class=\"itemName\">固定分组</label><br/>" +
                    "<label class=\"itemName\">开始时间：</label>" +
                    "<label class=\"itemName\">" +
                    result.startTime +
                    "</label><br/>" +
                    "<label class=\"itemName\">结束时间：</label>" +
                    "<label class=\"itemName\">" +
                    result.endTime +
                    "</label></div>"
                );
                for (var i = result.topics.length; i--;) {
                    $("#inserttopic").prepend(
                        "<div class=\"smallblock\" id=" +
                        i +
                        ">" +
                        "<div class=\"blockFont\">" +
                        result.topics[i].name +
                        "</div>" +
                        "</div>"
                    );
                    $("#" + i).click(function() {
                        window.location.href = "/Student/Seminar/Topic/Fixed?id=" + id;
                    });
                }
            }
        });
    });
    //function selectFile() {
    //    alert($("#file").attr("value"));
    //}
    $("#checkGrade").click(function () {
        window.location.href = "/Student/Seminar/Grade/Fixed?id=" + id;
    });
   
</script>
</body>
</html>